<h2> Welcome to the Blackjack Casino! </h2>
<br/>
<br/>

<p> Please Enter Your Name & Then Click 'Play!' To Begin: </p>
<form action='/newgame' method='post'>
  <div class='input-append'>
    <input type='text' name='playername'>
    <button class='btn' type='submit'> Play! </button>
  </div>
</form>

























