img.card_image {
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  margin: 0px, 0px, 0px, 0px;
  border: solid;
  border-color: black;
}

form.inlinebtn {
  position: relative;
  float: left;
  margin-right: 5px;
}

form#leaveform {
  float: right;
  margin-right: 5px;
}

div.playerbox {
  clear: left;
}

div.replaybetbtns {
  float: left;
  width: 500px;
  height: 80px;
}

div.cards {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

div#square {
  background-color: white;
  width: 1000px;
  height: 800px;
  position: absolute;
}

div#circle {
  border-radius: 50%;
  background-color: green;
  position: relative;
  height: 800px;
  border: solid;
  border-width: 15px;
  border-color: #8B4513;
}


