<h3> This comes from a nested template! (views/users/profile.erb) </h3>

<form action='/myaction' method='post'>
  <input type='text' name='sometext'/>
  <input type='submit' class='btn'/>
</form>

<!--
We need the form to have an action. Default method is GET, so specify if otherwise

Input type of text is great, but don't forget to give it a name or the submitted form won't know where to save that text



